@mixin opacity($trans) {
	-moz-opacity: $trans;
	-khtml-opacity: $trans;
	opacity: $trans;
	filter: alpha(opactiy=$trans * 100);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=#{$trans * 100})";
}